/* src/components/BotaoSair.css */

.botao-sair {
  background-color: #d9534f;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botao-sair:hover {
  background-color: #c9302c;
}
